.html,body{
    padding:0;
    margin: 0;
    overflow-x:hidden;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(
        135deg,
        #000814,
        #001D3D,
        #003566,
        #001233
    );
}
/*home*/
section {
    width:850px;
    background:white;
    padding:40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    margin:40px auto;
}
.overlay {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:35px;
}
p a{
    color: white;
    text-decoration:none;
    padding: 5px;
    font-size: 20px;
    transition:0.3s ease;
    cursor:pointer;
}
p:hover{
    transform:translateY(-8px);
}
p:active{
    transform:scale(0.98);
}
/**/
.isi{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin-bottom:30px;
    gap: 20px;
}
.tentang,
.ringkasan,
.alamat,
.pengalaman,
.portofolio{
    margin-top:25px;
    line-height:28px;
    border-radius: 15px;
    background:white ;
    padding: 15px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    transition:0.3s ease;
    cursor:pointer;
}
.tentang:hover,
.ringkasan:hover,
.alamat:hover,
.pengalaman:hover,
.portofolio:hover{
    transform:scale(1.05);
    box-shadow:0 15px 25px rgba(0,0,0,.35);
}
.tentang:active,
.ringkasan:active,
.alamat:active,
.pengalaman:active,
.portofolio:active{
    transform:scale(0.98);
}
.tentang h2{
    margin-bottom:15px;
}
h4{
    margin-bottom:10px;
    color:#333;
}
.nama,
.rumah,
.ttl,
.tentang-saya{
    margin-top:25px;
    line-height:28px;
    border-radius: 15px;
    background: white;
    padding: 10px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}
.kontak{
    display:flex;
    gap:20px;
}
/*foto*/
.foto img{
    width:180px;
    border-radius:15px;
    transition:0.3s ease;
    cursor:pointer;
}
.foto img:hover{
    transform:scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}
.foto img:active{
    transform:scale(0.95);
}
/**/
.fade{
    opacity:0;
    transform:translateY(70px);
    transition:all 1.2s ease;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}
/**/
@media (max-width:768px){

    section{
        width:calc(100% - 40px);
        padding:20px;
        margin:20px auto;
        box-sizing:border-box;
    }

    .overlay{
        gap:15px;
        flex-wrap:wrap;
        padding-bottom:15px;
    }

    .overlay p a{
        font-size:16px;
    }

    .isi{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

    .foto{
        display:flex;
        justify-content:center;
    }

    .foto img{
        width:220px;
    }

    .tentang,
    .ringkasan,
    .alamat,
    .pengalaman,
    .portofolio,
    .nama,
    .rumah,
    .ttl,
    .tentang-saya{
        width:100%;
        box-sizing:border-box;
    }
}