html,body{
    background: linear-gradient(
        135deg,
        #020617 0%,
        #0F172A 50%,
        #1E3A8A 90%,
        #1E40AF 100%
    );
    overflow-x:hidden;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.overlay {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:35px;
}
.overlay p a{
    text-decoration:none;
    color: white;
    padding: 5px;
    font-size: 20px;
    animation:muncul 5s ease;
    transition:0.3s ease;
    cursor:pointer;
}
p:hover{
    transform:translateY(-8px);
}
p:active{
    transform:scale(0.98);
}

section {
    width:850px;
    background:white;
    padding:40px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    background:
    radial-gradient(circle at top left,#FFFFFF 0%,transparent 40%),
    radial-gradient(circle at bottom right,#B7D8FF 25%,transparent 35%),
    linear-gradient(
    135deg,
    #a9d1fa 0%,
    #93b0d6 15%,
    #DCEAFF 65%,
    #d0e0fa 100%
    );
    box-shadow:0 0 20px rgba(0,0,0,.3);
    margin:40px auto;
}
/*cv*/
.isi{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:30px;
    gap: 20px;
}
.tentang {
    width:100%;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    transition:0.3s ease;
    cursor:pointer;
}
.tentang:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 25px rgba(0,0,0,.35);
}
.tentang:active{
    transform:scale(0.98);
}

.tentang h2{
    margin-bottom:15px;
}
.tentang ul{
    list-style: none;
    line-height:30px;
}
.ringkasan,
.pendidikan,
.pengalaman,
.skill{
    margin-top:25px;
    line-height:28px;
    border-radius: 15px;
    background: white;
    padding: 20px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
    transition:0.3s ease;
    cursor:pointer;
}
.ringkasan:hover,
.pendidikan:hover,
.pengalaman:hover,
.skill:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 25px rgba(0,0,0,.35);
}
.ringkasan:active,
.pendidikan:active,
.pengalaman:active,
.skill:active{
    transform:scale(0.98);
}
h4{
    margin-bottom:10px;
    color:#333;
}
.foto{
    animation:muncul 7s ease;
}
.foto img{
    width:180px;
    border-radius:15px;
    transition:0.3s ease;
    cursor:pointer;
}
.foto img:hover{
    transform:scale(1.05);
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}
.foto img:active{
    transform:scale(0.95);
}
.fade{
    opacity:0;
    transform:translateY(60px);
    transition:opacity .8s ease, transform .8s ease;
}

.fade.show{
    opacity:1;
    transform:translateY(0);
}
/**/
button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#222;
    color:white;
    cursor:pointer;
    transition:all .3s ease;
}
.melayang{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}
.tampilan-content{
    width:320px;
    background: linear-gradient(
    180deg,
    #050816,
    #0B0F3B,
    #3F2B96,
    #6A4CFF
    );
    color: white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    animation:muncul .4s ease;
}
@keyframes muncul{
    from{
        opacity:0;
        transform:scale(.7);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@media (max-width:768px){

    section{
        width:calc(100% - 40px);
        padding:20px;
        margin:20px auto;
        box-sizing:border-box;
    }

    .overlay{
        gap:15px;
        flex-wrap:wrap;
        padding-bottom:15px;
    }

    .overlay p a{
        font-size:16px;
    }

    .isi{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }
    .tentang li{
        font-size:15px;
    }
    li{
        font-size:15px;
        margin:10px;
        padding:10px;
    }
    .foto{
        display:flex;
        justify-content:center;
    }

    .foto img{
        width:200px;
    }

    .tentang,
    .ringkasan,
    .pengalaman,
    .skill{
        width:100%;
        box-sizing:border-box;
    }
}